div{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    text-align: center;
    transition-property: all;
    /* transition-delay: 2s; */
}
div:hover{
    color: white;
    background-color: black;
    border: 2px solid rgb(255, 0, 0);
}
div:active{
    background-color: yellow;
}